language: node_js
node_js:
    - '8'

before_script:
  - cd front-site

cache:
  directories:
    - node_modules

install:
  - npm install

script:
  - npm

after_script:

branches:
  only:
    - master


