dist: trusty
sudo: required

addons:
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable
  ssh_known_hosts:
  - wico.cc

language: node_js
node_js:
- '8'

cache:
  directories:
  - node_modules

before_install:
- WorkDIR=$(pwd)

- openssl aes-256-cbc 
  -K $encrypted_026bd0f7d57c_key 
  -iv $encrypted_026bd0f7d57c_iv
  -in ./.travis/travis_rsa.enc -out ~/.ssh/travis_rsa -d
- chmod 600 ~/.ssh/travis_rsa

- export CHROME_BIN=chromium-browser
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start

install:
  - cd front-site
  - npm install

before_script:

script:
  - npm run unit
  - npm run e2e
  - cd $WorkDIR


after_script:
deploy:
  provider: script
  script:
    - bash ./.travis/deploy.sh
  on:
    branch: master

branches:
  only:
  - master

notifications:
  email:
    recipients:
      - wico0628@gmail.com
    on_success: change
    on_failure: always
